// * Animations

// Turtles
$length: 50%;

@keyframes confused-turtle {
  0% {
    transform: translate(0, 0) rotate(15deg);
    opacity: 0.4;
  }

  25% {
    transform: translate(0, $length);
    opacity: 0.2;
  }

  50% {
    transform: translate(-$length, $length) rotate(-10deg);
    opacity: 0.8;
  }

  75% {
    transform: translate(-$length, 0) rotate(10deg);
    opacity: 0.8;
  }

  100% {
    transform: translate(0, 0) rotate(15deg);
    opacity: 0.4;
  }
}

@keyframes swimming-turtles {
  from {
    transform: translateY(0%) scale(1, 1) scaleX(-1) rotate(-45deg);
    opacity: 1;
  }

  to {
    transform: translateY(-50%) scale(0.8, 0.8) scaleX(-1) rotate(-45deg);
    opacity: 0.8;
  }
}

// Stars
@keyframes blinking-star {
  from {
    transform: scale(0.00001);
  }

  to {
    transform: scale(1);
  }
}

@keyframes bigger-blinking-star {
  from {
    transform: scale(0.00001);
  }

  to {
    transform: scale(2);
  }
}

// Northern lights
@keyframes northern-lights-move {
  from {
    transform: translateY(0) translateX(0);
  }

  to {
    transform: translateY(50%) translateX(25%);
  }
}

@keyframes northern-lights-fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.2;
  }
}
