@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Red+Hat+Text:wght@400;700&display=swap");
@-webkit-keyframes blinking-star {
  from {
    -webkit-transform: scale(0.00001);
            transform: scale(0.00001);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes blinking-star {
  from {
    -webkit-transform: scale(0.00001);
            transform: scale(0.00001);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes bigger-blinking-star {
  from {
    -webkit-transform: scale(0.00001);
            transform: scale(0.00001);
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes bigger-blinking-star {
  from {
    -webkit-transform: scale(0.00001);
            transform: scale(0.00001);
  }
  to {
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@-webkit-keyframes northern-lights-move {
  from {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  to {
    -webkit-transform: translateY(50%) translateX(25%);
            transform: translateY(50%) translateX(25%);
  }
}

@keyframes northern-lights-move {
  from {
    -webkit-transform: translateY(0) translateX(0);
            transform: translateY(0) translateX(0);
  }
  to {
    -webkit-transform: translateY(50%) translateX(25%);
            transform: translateY(50%) translateX(25%);
  }
}

@-webkit-keyframes northern-lights-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes northern-lights-fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.2;
  }
}

html {
  scroll-behavior: smooth;
}

main {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: var(--gradientBase, #9e7543);
}

section {
  min-height: 100vh;
  max-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

section:nth-of-type(1) {
  background-image: var(--gradient-s1, linear-gradient(180deg, #9f7942 0%, #975e4b 100%));
}

section:nth-of-type(1) #northern-lights {
  position: absolute;
  bottom: 15%;
  left: 0;
  width: 100vw;
  height: 35%;
}

section:nth-of-type(1) #northern-lights .light {
  position: absolute;
  width: 5%;
  height: 100%;
  border-radius: 100%;
  background: #058197;
  -webkit-filter: blur(70px) drop-shadow(0px 100px 70px rgba(109, 41, 255, 0.66));
          filter: blur(70px) drop-shadow(0px 100px 70px rgba(109, 41, 255, 0.66));
  -webkit-animation: northern-lights-move 4s infinite alternate, northern-lights-fade 4s infinite alternate 3s;
          animation: northern-lights-move 4s infinite alternate, northern-lights-fade 4s infinite alternate 3s;
}

section:nth-of-type(1) #northern-lights .light:nth-of-type(odd) {
  height: 80%;
  -webkit-animation: northern-lights-move 7s infinite alternate 3s northern-lights-fade 3s infinite alternate 7s;
          animation: northern-lights-move 7s infinite alternate 3s northern-lights-fade 3s infinite alternate 7s;
}

section:nth-of-type(1) #northern-lights .light:nth-of-type(3n) {
  height: 50%;
}

section:nth-of-type(1) #northern-lights .light:nth-of-type(4n) {
  -webkit-animation: northern-lights-move 5s infinite alternate, northern-lights-fade 2s infinite alternate 2s;
          animation: northern-lights-move 5s infinite alternate, northern-lights-fade 2s infinite alternate 2s;
}

section:nth-of-type(2) {
  background-image: var(--gradient-s2, linear-gradient(180deg, #975e4b 0%, #7b555d 100%));
}

section:nth-of-type(3) {
  background-image: var(--gradient-s3, linear-gradient(180deg, #7a555d 0%, #466078 100%));
}

section:nth-of-type(3) img {
  position: absolute;
}

section:nth-of-type(3) img.lightbeam {
  opacity: 0;
  -webkit-transition: opacity 2s 4s;
  transition: opacity 2s 4s;
  z-index: 2;
}

section:nth-of-type(3) img.lightbeam:nth-of-type(2) {
  -webkit-transition: opacity 2s 5s;
  transition: opacity 2s 5s;
}

section:nth-of-type(3) img.bg-img {
  bottom: 0;
  width: 100%;
}

section:nth-of-type(3) img#lightbeam-far {
  height: 38vw;
  left: 5.5vw;
  bottom: 0;
}

section:nth-of-type(3) img#lightbeam-close {
  height: 36vw;
  right: 13vw;
  bottom: 0;
}

section:nth-of-type(3) img#large-turtle {
  width: 50%;
  max-width: 350px;
  bottom: 10%;
  right: 10%;
}

section:nth-of-type(3) img#medium-turtle {
  width: 15%;
  bottom: 5vw;
  right: 10%;
}

section:nth-of-type(3) img#small-turtle {
  width: 10%;
  bottom: 10vw;
  right: 10%;
}

section:nth-of-type(3) img.turtle--dimmed {
  -webkit-transform: scaleX(-1) rotate(-35deg);
          transform: scaleX(-1) rotate(-35deg);
}

section:nth-of-type(3) img.turtle--dimmed#large-turtle {
  right: 0;
}

section:nth-of-type(3) img.turtle--dimmed#medium-turtle {
  width: 30%;
  left: 0;
}

section:nth-of-type(3) img.turtle--dimmed#small-turtle {
  width: 20%;
  left: 0;
  bottom: 20vw;
}

section:nth-of-type(3) #flare-moonbeam {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 40vh solid transparent;
  border-right: 40vh solid transparent;
  border-bottom: calc(100vh - (4vw + 8vw)) solid #f5f5c9;
  opacity: 0.1 !important;
  bottom: 0;
  left: calc(50vw - (40vh));
  z-index: 2;
}

section:nth-of-type(3) .moon {
  position: absolute;
  left: calc(50vw - (8vw / 2));
  top: 4vw;
  width: 8vw;
  height: 8vw;
  background-color: #f5f5c9;
  border-radius: 100%;
  z-index: 2;
}

section:nth-of-type(4) {
  background-image: var(--gradient-s4, linear-gradient(180deg, #466078 0%, #9e7543 100%));
}

section:nth-of-type(4) .side--left {
  z-index: 2;
}

section:nth-of-type(4) img {
  position: absolute;
}

section:nth-of-type(4) img.lightbeam {
  opacity: 0;
  -webkit-transition: opacity 2s 4s;
  transition: opacity 2s 4s;
  z-index: 2;
}

section:nth-of-type(4) img.lightbeam:nth-of-type(2) {
  -webkit-transition: opacity 2s 5s;
  transition: opacity 2s 5s;
}

section:nth-of-type(4) img#city-front {
  max-width: 70vw;
  bottom: 0;
}

section:nth-of-type(4) img#city-back {
  max-width: 60vw;
  bottom: 0;
  right: 0;
}

section:nth-of-type(4) img#city-landscape {
  width: 100vw;
  right: 0;
  bottom: 25vw;
}

section:nth-of-type(4) img#light-beam-left {
  bottom: 26vw;
  left: 0;
}

section:nth-of-type(4) img#light-beam-right {
  height: 100vh;
  right: 0;
}

section:nth-of-type(4) img#shooting-star {
  left: -100%;
}

.side {
  width: 50%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
  z-index: 1;
}

.side--left {
  left: -100%;
  -webkit-transition: left 4s;
  transition: left 4s;
}

.side--right {
  right: -100%;
  -webkit-transition: right 4s;
  transition: right 4s;
}

.dimmed {
  display: none;
}

.dimmed--fade {
  opacity: 0;
  -webkit-transition: opacity 4s 4s;
  transition: opacity 4s 4s;
}

.polluted {
  display: inline-block;
}

.polluted--fade {
  opacity: 1;
  -webkit-transition: opacity 4s;
  transition: opacity 4s;
}

h1,
p {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
}

h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: white;
  text-align: center;
}

p {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  font-family: "Red Hat Text", sans-serif;
  font-size: 24px;
  color: white;
  width: 600px;
  line-height: 1.5;
  text-shadow: 0px 5px 6px black;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 4s;
  transition: opacity 4s;
}

p.direction {
  font-size: 18px;
  top: 70%;
  text-shadow: none;
  opacity: 1;
}

p.direction-reload {
  top: 93%;
}

p.author {
  top: 52%;
  text-align: right;
}

button {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  font-family: "Red Hat Text", sans-serif;
  background: var(--gradient-button, linear-gradient(98.16deg, #96856c 21.39%, #3a505c 93.76%));
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 12px 35px;
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: opacity 2s 7s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: opacity 2s 7s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: box-shadow 0.2s, transform 0.2s, opacity 2s 7s;
  transition: box-shadow 0.2s, transform 0.2s, opacity 2s 7s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
}

button:hover {
  cursor: pointer;
  -webkit-transform: translate(-50%, calc(-50% - 2px));
          transform: translate(-50%, calc(-50% - 2px));
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

button:active {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(-50%, calc(-50% + 4px));
          transform: translate(-50%, calc(-50% + 4px));
}

button.dimmed {
  top: 70%;
}

.show {
  opacity: 1 !important;
}

.hide {
  opacity: 0 !important;
}

.slide-left {
  left: 0;
}

.slide-right {
  right: 0;
}

.star {
  width: 10px;
  height: 10px;
  background: #dbdaad;
  background: radial-gradient(circle, #dbdaad 0%, rgba(255, 255, 255, 0) 51%);
  border-radius: 100%;
  position: absolute;
  -webkit-animation: blinking-star 4s infinite alternate;
          animation: blinking-star 4s infinite alternate;
  z-index: 0;
}

.star:nth-child(even) {
  background: #addbc3;
  background: radial-gradient(circle, #addbc3 0%, rgba(255, 255, 255, 0) 51%);
}

.star:nth-child(5n) {
  -webkit-animation: bigger-blinking-star 4s infinite alternate;
          animation: bigger-blinking-star 4s infinite alternate;
}
/*# sourceMappingURL=index.css.map */