@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Red+Hat+Text:wght@400;700&display=swap");
html {
  scroll-behavior: smooth;
}

main {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-padding: 0px;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  background-color: #9e7543;
}

section {
  min-height: 100vh;
  max-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
}

section:nth-of-type(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#9f7942), to(#975e4b));
  background: linear-gradient(180deg, #9f7942 0%, #975e4b 100%);
}

section:nth-of-type(2) {
  background: -webkit-gradient(linear, left top, left bottom, from(#975e4b), to(#7b555d));
  background: linear-gradient(180deg, #975e4b 0%, #7b555d 100%);
}

section:nth-of-type(2) .side--left {
  z-index: 2;
}

section:nth-of-type(2) img {
  position: absolute;
}

section:nth-of-type(2) img#right-side_room {
  right: 0;
  height: 100vh;
}

section:nth-of-type(2) img#left-side_room {
  left: 0;
  height: 100vh;
}

section:nth-of-type(2) img#bed-human {
  max-width: 100%;
  width: 1000px;
  bottom: 1vw;
  left: 17%;
}

section:nth-of-type(2) img#light-beam-doorway {
  height: 63vh;
  bottom: 0;
  right: 21vh;
  z-index: 3;
}

section:nth-of-type(2) img#light-beam-window {
  height: 89.5vh;
  right: 54.2vh;
  bottom: 0;
  z-index: 4;
}

section:nth-of-type(3) {
  background: -webkit-gradient(linear, left top, left bottom, from(#7a555d), to(#466078));
  background: linear-gradient(180deg, #7a555d 0%, #466078 100%);
}

section:nth-of-type(4) {
  background: -webkit-gradient(linear, left top, left bottom, from(#466078), to(#9e7543));
  background: linear-gradient(180deg, #466078 0%, #9e7543 100%);
}

.side {
  width: 50%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
}

.side--left {
  left: -100%;
  -webkit-transition: left 4s;
  transition: left 4s;
}

.side--right {
  right: -100%;
  -webkit-transition: right 4s;
  transition: right 4s;
}

.dimmed {
  display: none;
}

.polluted {
  display: inline-block;
}

h1 {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: white;
  text-align: center;
}

p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  font-family: "Red Hat Text", sans-serif;
  font-size: 24px;
  color: white;
  width: 600px;
  line-height: 1.5;
  text-shadow: 0px 5px 6px black;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 4s;
  transition: opacity 4s;
}

p.direction {
  font-size: 18px;
  top: 70%;
  text-shadow: none;
  opacity: 1;
}

p.direction-reload {
  top: 93%;
}

p.author {
  top: 65%;
  text-align: right;
}

button {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  font-family: "Red Hat Text", sans-serif;
  background: linear-gradient(98.16deg, #96856c 21.39%, #3a505c 93.76%);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: white;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 12px 35px;
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: opacity 2s 7s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: opacity 2s 7s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
  transition: box-shadow 0.2s, transform 0.2s, opacity 2s 7s;
  transition: box-shadow 0.2s, transform 0.2s, opacity 2s 7s, -webkit-box-shadow 0.2s, -webkit-transform 0.2s;
}

button:hover {
  cursor: pointer;
  -webkit-transform: translate(-50%, calc(-50% - 2px));
          transform: translate(-50%, calc(-50% - 2px));
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

button:active {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(-50%, calc(-50% + 4px));
          transform: translate(-50%, calc(-50% + 4px));
}

button.dimmed {
  background: linear-gradient(98.02deg, #227696 29.92%, #3b6691 53.43%, #6d4586 96.31%);
  top: 80%;
}

.show {
  opacity: 1;
}

.slide-left {
  left: 0;
}

.slide-right {
  right: 0;
}
/*# sourceMappingURL=index.css.map */